.menu-option-div {
    display: flex;
    background-color: var(--main-40);
    padding: 1px 16px;
    transition: 0.5s;
}

.menu-option-div:hover {
    transform: scale(1.1);
    background-color: var(--main-50);
}

.menu-option-div a {
    text-decoration: none;
    color:white;
}

header {
    display: flex;
    align-items: center;
    background-color: var(--main-20);
    color:white;
    justify-content: space-between;
    margin: 2px 8px;
    border-radius: 4px;
    padding: 2 8;
    text-shadow: 1px 1px 1px black;
    user-select: none;
}

nav {
    display: flex;
    gap: 8px;
}